@use 'variables' as *;
@use 'mixin' as *;

.main-proyectos{
    background-color: $white;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    margin-top: -8rem;
    padding: 3rem;
    box-shadow: 0px 0px 10px 0.1px;

    @media(min-width: 480px){
        margin: 2rem auto;
        box-shadow: 0px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .card {
        border: 0.2rem solid $light;
        border-radius: 1rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;

        .card-header{
            height: 20rem;
            width: 100%;
            background-image: url('../../src/img/mined_azul.svg');
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center center;
        }
        .card-body{
            background-color: $light;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
             p{
                flex-grow: 1;
             }
            .btn{
                @include btn($primary, none, $white);
                border: 0;
                display: block;
                width: 100%;
                margin-top: 2rem;
                padding: 1rem 0;
                font-weight: $bold;
                cursor: pointer;

                &:hover{
                    background-color: darken($color: $primary, $amount: 5%);
                }
            }
        }
    }
}